.login_content {
    margin: 0 auto;
    position: relative;
    height: 548px;
    background-color: #FAFAFA;
}
.login{
    position: absolute;
    top: 58px;
    right: 370px;
    width: 400px;
    height: 403px;
    background-color: #FFECB3;
    border-radius: 10px;
}
.login_enter{
    position: absolute;
    top: 315px; 
    right: 86px ;
    text-decoration: none;
    color: white;
    padding: 13px 89px;
    background-color: #D33030;
    border-radius: 20px;
}
.input_login, .input_password{
    width: 310px;
    height: 36px;
    border-radius: 10px;
    color:  black;
}
.input_password{
    position: absolute;
    bottom: 198px;
    left: 41px;
}
.input_login{
    position: absolute;
    top: 86px;
    left: 41px;
}
.login_title, .password_title{
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    font-weight: 700;
}
.login_title{
    position: absolute;
    top: 60px;
    left: 45px;
}
.password_title{
    position: absolute;
    top: 137px;
    left: 45px;
}
.log_in_btn{
    background-color: #D33030;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 280px;
    right: 87px;
    border-radius: 20px;
    padding: 13px 89px;
    font-size: 16px;
}
@media screen and (max-width: 1000px) {
    
}

@media(max-width: 767px){
    /* .login{
        margin-left: 5px;
    } */
    .input_login, .input_password {
        width: 265px;
    }
    .login_enter {
        right: 70px;
    }
    .login {
        top: 50px;
        right: 0px;
        width: 100%;
    }
    .break {
        height: 1px;
    }
    .login_content {
        height: 505px;
    }
    .log_in_btn{
        right: 66px;
    }
}