.slider{
    display: flex;
    overflow-x: auto;
    background-color: #FFECB3;
}

.slider::-webkit-scrollbar{



}

.slider::-webkit-scrollbar-thumb{
}

.slide{
    padding: 5px;
}

h4 {
    background-color: #FAFAFA;
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 33px;
    margin: 0;
}


.button_slider{
    display: inline-block; /* Строчно-блочный элемент */
    background: black; 
    color: #fff; /* Белый цвет текста */
    padding: 10px 38px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    margin-top: 5px;
}
